@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,900&display=swap");

body {
	/*font-family: 'Titillium Web', sans-serif;*/
	/*font-family: 'Bitter', serif;*/
	font-family: "Figtree", sans-serif;
	position: relative;
	min-height: 100vh;
	color: #171717;
	background-color: #673ab7;
	-webkit-font-smoothing: antialiased;
	background-attachment: fixed;
	/* background: repeating-linear-gradient( 130deg, rgba(0, 0, 0, 0) 54px, rgba(0, 0, 0, 0) 58px, #f0eada 59px, #f3eddd 60px ); */
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.4;
	text-shadow: #000 3px;
	text-shadow: 1px 0px 2px rgb(21 126 255 / 20%);
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.button.form {
	font-size: 13px;
	width: auto;
}

.content .share-menu {
	border-bottom: 1px solid #eee;
	/* height: auto; */
	/* display: flex; */
	padding: 7px 20px 0 20px;
	box-sizing: border-box;
	background: #fff;
}

/* video.home {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	mix-blend-mode: multiply;
} */

video.home {
	mix-blend-mode: multiply;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -2;
}

.sect {
	width: 100%;
}

a.white {
	color: #ffffff;
	opacity: 0.9;
}

a.white:hover {
	opacity: 1;
	background-color: #f5f0e5;
	background: repeating-linear-gradient(
		130deg,
		rgba(0, 0, 0, 0) 54px,
		rgba(0, 0, 0, 0) 58px,
		#622bb3 60px,
		#622bb3 60px
	) !important;
	text-decoration: none;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

.content a {
	text-decoration: none;
	color: #323232;
	h1,
	h2 {
		width: max-content;
		max-width: 100%;
		margin-bottom: 5px;
	}
	h1:hover,
	h2:hover {
		color: #fff;
	}
}

.bordes {
	border: 1px solid #000;
}

.titulos {
	font-weight: 900;
	/*        font-family: 'Titillium Web', sans-serif;*/
	font-size: 55px;
	margin-bottom: 20px;
	color: #ffc107;
	background-color: #f5f0e5;
	background: repeating-linear-gradient(
		130deg,
		rgba(0, 0, 0, 0) 54px,
		rgba(0, 0, 0, 0) 58px,
		#f0eada 59px,
		#f3eddd 60px
	);
	padding: 5px 20px;
}

.fondo {
	background-color: #eee;
}

.fa-heart-menu:before {
	content: "\f004";
	font-family: "fontAwesome";
	margin-right: 5px;
}

.fa-lock-menu:before {
	content: "\f2f6";
	font-family: "fontAwesome";
	margin-right: 5px;
}

.icon {
	margin-right: 5px;
}

.fa-gear:before {
	content: "\f013";
	font-family: "fontAwesome";
	margin-right: 5px;
}

.fa-msg:before {
	content: "\f0e0";
	font-family: "fontAwesome";
	margin-right: 5px;
}
.fa-sign-out-alt:before {
	content: "\f2f5";
	font-family: "fontAwesome";
	margin-right: 5px;
}

#login-button:hover {
	background-color: #117eff;
	cursor: pointer;
}

.content-msg {
	padding: 5px;
	text-align: center;
	font-size: 15px;
	font-weight: 700;
	background: #2d7bff;
	color: #fff;
	width: 100%;
	display: block;
	border: 2px solid #ffc109;
	border-radius: 6px;
}

.img img {
	width: 40%;
	margin: 0 auto;
	display: block;
}

section.slide {
	width: 100%;
	height: 500px;
	background-size: 1260px;
}

.index-search {
	width: 100%;
	background-size: 1260px;
	margin-bottom: 100px;
}

section.slide.inner {
	background-image: url("../background/background.svg");
	/* background-color: #FFF; */
	background-attachment: fixed;
	height: auto;
	border-bottom: none;
}

section.barra {
	/* background-color: rgb(255 255 255); */
	padding: 20px;
	color: #fff;
	/* padding-top: 13px; */
	width: 100%;
	z-index: 99999999999;
}

.alert {
	border: 1px solid #067aff;
	margin-bottom: 5px !important;
	margin-top: 5px;
	background: #067aff;
	color: #fff;
	display: none;
}

.alert.ver {
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	display: block;
}

.notice h1 {
	/* color: #FFF !important; */
	text-align: center;
	padding: 20px;
	font-size: 25px !important;
}

.section-notice {
	background-color: #ffffff;
	color: #555454;
	border-top: 3px solid #dcdcdc;
	border-bottom: 3px solid #dcdcdc;
}

.favorite .a-btn {
	display: flex;
	align-items: center;
	text-align: center;
}

.with-errors {
	color: #ed1d5b;
	padding: 5px 20px;
}

.with-errors ul {
	padding-bottom: 0;
	margin-bottom: 0;
}

.ver-button {
	text-align: center;
	font-weight: 700;
	color: #fff;
	max-width: 300px;
	box-sizing: border-box;
	padding: 10px 20px;
	border-radius: 13px;
	border: none;
	background: #e91e63;
	border: 2px solid #e91e63;
}

.ver-button:hover {
	background: #007bff;
	border: 2px solid #007bff;
	color: #fff;
	text-decoration: none;
}

.footer {
	/* background: #ec1d5b; */
	padding: 45px 40px;
	color: #fff;
	box-sizing: border-box;
	/* margin-top: 50px; */
}
.menu {
	padding-top: 16px;
	text-align: right;
	font-size: 14px;
	color: #157eff;
	font-weight: 700;
	margin-bottom: 0;
}
@media (max-width: 992px) {
	.menu {
		padding-top: 0;
		text-align: right;
		font-size: 14px;
		color: #157eff;
		font-weight: 700;
		margin-bottom: 0;
	}
}
@media (max-width: 576px) {
	.menu-button-text {
		display: none;
	}
	/* .menu {
		display: flex;
		flex-direction: row-reverse;
	} */

	li ul.submenu {
		position: absolute;
		right: 0;
		text-align: left;
		border: 1px solid;
		padding: 10px;
		padding-left: 0;
		background: rgb(256, 256, 256, 0.9);
		color: #157eff;
		display: none;
		z-index: 99999999;
		margin-top: 5px;
		border-bottom-right-radius: 40px;
	}
}

.msg-results {
	color: #292525;
	font-size: 22px;
	text-align: center;
	padding: 5px;
	/* background: #eee; */
	margin: 0;
}

.msg-results.left {
	text-align: left;
}

.msg {
	color: #e81f63 !important;
	font-size: 20px;
	text-align: center;
	font-weight: 600 !important;
}

strong,
b {
	font-weight: 600;
}

/* .container {
	background: #FFF;
} */

/* .row {
	background: #FFF;
} */

/* .row div {
	background: #FFF;
} */

/* .row {
	padding: 20px;
} */

.barra .menu li {
	display: inline-block;
	margin-left: 10px;
	/* width: 100%; */
}

.barra .menu li a {
	padding: 10px;
}

.barra .menu li a:hover {
	background-color: #f5f0e5;
	background: repeating-linear-gradient(
		130deg,
		rgba(0, 0, 0, 0) 54px,
		rgba(0, 0, 0, 0) 58px,
		#f0eada 59px,
		#f3eddd 60px
	);
	text-decoration: none;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

.row h1 {
	font-size: 17px;
	line-height: 28px;
	line-height: 22px;
	font-weight: 700;
	/* color: #444444; */
	text-transform: uppercase;
}

.row h2 {
	font-size: 13px;
	margin: 0;
}
@media (max-width: 576px) {
	.row h2 {
		font-size: 15px;
		margin: 0;
	}
}

.row h2 a {
	color: #171717;
}

.row .courses-box {
	margin-bottom: 10px;
	padding: 5px;
}

/* .row .courses-box:hover {
	background: #efefef;
} */

.row .courses-box .content {
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	background: #f1f1f1;
	/* border: 1px solid #E91E63; */
	/* padding-bottom: 15px; */
	/* border-top-left-radius: 15px; */
	/* border-bottom-right-radius: 15px; */
	color: #414141;
}

.row .courses-box .content img {
	width: 100%;
	margin-bottom: 10px;
}

.content .datos {
	padding: 30px;
	height: auto;
	min-height: 125px;
}

.row .courses-box .content .imgViewer {
	content: "";
	/*position: absolute;*/
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.8;
	mix-blend-mode: multiply;
	width: 100%;
	height: 125px;
	display: block;
	margin-bottom: 10px;
}

.row .courses-box a:hover {
	text-decoration: none;
}

.row .courses-box .content.one:hover {
	background-color: #00bcd4;
}

.row .courses-box .content.two:hover {
	background-color: #cddc39;
}

.row .courses-box .content.thr:hover {
	background-color: #b73aa2;
}

.row .courses-box .content.fou:hover {
	background-color: #2196f3;
}

.fav-hover:nth-child(odd):hover {
	background-color: #cddc39;
}

.fav-hover:nth-child(even):hover {
	background-color: #00bcd4;
}

.search-button {
	text-align: center;
	font-weight: 700;
	/*! background: #171717; */
	color: #fff;
	text-transform: uppercase;
	/* padding: 7px; */
	max-width: 300px;
	display: block;
	box-sizing: border-box;
	/* border: 1px solid #dfdfdf; */
	/* border-radius: 10px; */
	font-size: 29px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-radius: 13px;
	cursor: pointer;
	background: #e91e63;
	margin-top: 20px;
	transition: all 0.3s ease 0s;
	margin: 8px auto;
}

.search-button:hover {
	background: #007bff;
	border-color: #b9c9da;
	color: #fff;
}

.content-detail {
	background: #fff;
	padding: 25px;
	color: #312e2e;
	margin-bottom: 50px;
	border-bottom: 2px dotted #c1c0c0;
}

.content-detail h1 {
	font-size: 34px;
	/* text-transform: uppercase; */
	line-height: 42px;
	/* font-family: 'Titillium Web', sans-serif; */
	color: #323232;
	text-shadow: #000 3px;
	text-shadow: 1px 0px 2px rgb(21 126 255 / 20%);
	margin-bottom: 20px;
}

.content-detail h2 {
	font-size: 24px;
	font-weight: 700;
	color: #007bff;
	margin-bottom: 10px;
}

.content-detail ul.contenidos {
	padding: 0;
}

.content-detail ul.contenidos > li {
	background: #ececec;
	list-style: none;
	font-weight: 700;
}

.content-detail ul.contenidos li {
	padding: 5px 10px;
	border-bottom: 1px solid #dedcdc;
	/* padding-left: 25px; */
}

.content-detail ul.contenidos li ul li {
	list-style-type: disc;
}

.content-detail ul.contenidos ul {
	margin-bottom: 20px;
	padding-left: 11px;
	list-style: none;
}

.content-detail ul.contenidos li:last-child {
	border: none;
}

.content-detail ul.contenidos .topic {
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 0 50%;
	padding-left: 25px;
}

.content-detail ul.contenidos .topic.icon-link {
	background-image: url("/public/imgs/icon-web.png");
}

.content-detail ul.contenidos .topic.icon-video_new {
	background-image: url("/public/imgs/icon-video.png");
}

.content-detail ul.contenidos .topic.icon-scorm {
	background-image: url("/public/imgs/icon-scorm.png");
}

.content-detail ul.contenidos .topic.icon-html_new {
	background-image: url("/public/imgs/icon-html.png");
}

.content-detail ul.contenidos .topic.icon-download {
	background-image: url("/public/imgs/icon-file.png");
}

.content-detail ul.contenidos .topic.icon-audio_new {
	background-image: url("/public/imgs/icon-audio.png");
}

.content-detail ul.contenidos .topic.icon-slide {
	background-image: url("/public/imgs/icon-slide.png");
}

.content-detail.fixed {
	background: #fff;
	padding: 25px;
	color: #312e2e;
	margin-bottom: 50px;
	border-bottom: 2px dotted #c1c0c0;
	position: fixed;
	right: 0;
	top: 0;
	width: 377px;
}

@media (max-width: 992px) {
	.content-detail.fixed {
		border-top: 5px dotted #c1c0c0;
		position: -webkit-sticky;
		position: sticky;
		bottom: 0;
		right: auto;
		width: 100%;
	}
}

/** .content-detail.mensaje h1 {
	font-size: 30px;
	text-align: left;
	line-height: 33px;
} */

.row.favorite {
	/* background: #f1f1f1; */
	padding: 12px;
	border-bottom: 1px solid #e0dede;
	/* padding-left: 20px; */
}

.row.favorite h1 {
	color: #067aff !important;
}

/* Centra el input personalizado con el texto */
.custom-radio-checkbox {
	display: inline-flex;
	align-items: center;
	/* cursor: pointer; */
	/* font-family: arial; */
	color: #067aff !important;
	font-weight: bold;
	font-size: 19px;
}

/* Modificador para dar la imagen de checkbox */
.custom-radio-checkbox__show--checkbox {
	background-image: url(../imgs/checkbox-uncheck.png);
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

/* Modificador para dar la imagen de radio */
.custom-radio-checkbox__show--radio {
	background-image: url(../imgs/radio-uncheck.png);
}

/* Oculta input original */
.custom-radio-checkbox > .custom-radio-checkbox__input {
	display: none;
}

/* Radio personalizado usando <span> */
.custom-radio-checkbox > .custom-radio-checkbox__show {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 0.5rem;
	background-size: cover;
}

/* Cambia el checkbox personalizado cuando es pulsado */
.custom-radio-checkbox
	> .custom-radio-checkbox__input:checked
	+ .custom-radio-checkbox__show--checkbox {
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	background-image: url(../imgs/checkbox-check.png);
}

/* Cambia el radio personalizado cuando es pulsado */
.custom-radio-checkbox
	> .custom-radio-checkbox__input:checked
	+ .custom-radio-checkbox__show--radio {
	background-image: url(../imgs/radio-check.png);
}

.share-bar,
.msg {
	display: block;
	/* border-bottom: 1px solid #dcdada; */
	margin-bottom: 7px;
	padding: 5px;
	box-sizing: border-box;
	/* background: repeating-linear-gradient( 130deg, #3F51B5 54px, #3F51B5 58px, #673AB7 59px, #f3eddd 60px ); */
	/* font-weight: 700; */
	/* color: #15174e; */
	background-color: #ffffff;
}

.share-bar.index {
	font-size: 12px;
	color: #7c7c7c;
	/* float: left; */
	/* margin-top: 6px; */
	/* margin-left: 132px; */
	text-align: right;
}

.share-bar a {
	width: 20px;
	height: 20px;
	display: block;
	color: #7c7c7c;
	i {
		font-size: large;
	}
	i:hover {
		color: #067aff;
	}
}

.share-bar a:hover {
	filter: initial;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-webkit-filter: initial;
}

.share-bar ul li {
	display: inline-block;
	width: 16px;
	height: 14px;
	margin-right: 5px;
	/* border: 1px solid; */
}

.share-bar ul {
	display: inline;
	padding: 0;
}

.row .courses-box .content:hover {
	-webkit-box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	-moz-box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	border-color: #ed1d5b !important;
	color: #fff;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	/* -webkit-transition-duration: 1s; */
	margin-top: 3px;
}

.row .courses-box .content.active {
	-webkit-box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	-moz-box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	border-color: #067aff;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	border-radius: 20px;

	/* border: 1px dashed #212529; */
}

.favorite .content label {
	margin-bottom: 0;
}

.favorite .content h2 {
	padding-left: 28px;
	font-size: 13px;
}

li ul.submenu {
	right: 0;
	position: absolute;
	text-align: left;
	border: 1px solid;
	padding: 10px;
	padding-left: 0;
	background: rgb(256, 256, 256, 0.9);
	color: #157eff;
	display: none;
	z-index: 99999999;
	margin-top: 5px;
	border-bottom-right-radius: 40px;
}

.menu li:hover > ul {
	display: flex;
	flex-direction: column;
}

ul.submenu a {
	/* border: 1px solid #000; */
	width: 100%;
	/* padding: 19px !important; */
	margin-bottom: 4px;
	display: block;
}

.fav {
	cursor: pointer;
	/* font-family: 'fontAwesome'; */
	/* border: 1px solid; */
	/* margin: 0 auto; */
	display: block !important;
	text-align: center;
	margin-top: 4px;
	color: #d8d8d8;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	/* height: 10px; */
	width: max-content;
	float: left;
}

.fav:hover {
	color: #ec1c5b;
}

.fav.active {
	color: #ec1c5b;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

.slide .container.inner-top {
	padding-top: 25px;
}

.slide .container.top {
	padding-top: 20px;
}

input::placeholder {
	/*        color: #3F51B5;*/
	color: #eee;
}

input.buscar {
	width: 80%;
	margin: 0 auto 19px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	font-size: 31px;
	line-height: 34px;
	font-weight: 700;
	border-bottom: 1px solid #caced1;
	/*! border-top: 13px; */
	/*! border-radius: 10px; */
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: #ffffff00;
	color: #eee;
	/* text-align: center; */
	display: block;
}
@media (max-width: 768px) {
	input.buscar {
		width: 100%;
		padding: 7px;
		font-size: 25px;
		line-height: 34px;
		font-weight: 700;
	}
}
@media (max-width: 425px) {
	input.buscar {
		font-size: 20px;
	}
}
@media (max-width: 374px) {
	input.buscar {
		font-size: 17px;
	}
}

.logo {
	background: #fff;
	border-radius: 25px;
	/*! opacity: 0.95; */
	-webkit-box-shadow: 5px 5px 1px -4px rgba(4, 61, 123, 0.62);
	box-shadow: 5px 5px 1px -4px rgb(0, 5, 11);
}

.footer-logo {
	/* background: #FFF; */
	/* -webkit-box-shadow: 5px 5px 1px -4px rgba(4,61,123,0.62); */
	/* box-shadow: 5px 5px 1px -4px rgb(113 35 61); */
	/* padding: 8px; */
	width: 144px;
	/* border-radius: 24px; */
}

.header-logo {
	/* background: #FFF; */
	/* -webkit-box-shadow: 5px 5px 1px -4px rgba(4,61,123,0.62); */
	/* box-shadow: 5px 5px 1px -4px rgb(220 215 200); */
	/* padding: 0px; */
	width: 160px;
	/* border-radius: 24px; */
}

.opacity-bkg {
	/* background: #ffffff; */
	padding: 10px;
	/* border: 2px solid #f6f6f7; */
	/* -webkit-box-shadow: 0px -1px 12px -3px rgba(77,77,77,0.44); */
	box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	-moz-box-shadow: 0px -1px 12px -3px rgba(77, 77, 77, 0.44);
	/* box-shadow: 0px -1px 12px -3px rgba(77,77,77,0.60); */
	/* background: rgb(255 255 255 / 90%); */
	/* backdrop-filter: blur(1px); */
	/* height: 100vh; */
	/* width: 50%; */
	/* border-top-left-radius: 40px; */
	/* border-bottom-right-radius: 40px; */
}

.opacity-bkg .logo {
	width: 200px;
}

.padding-sct {
	padding: 30px 0px 30px;
	background: #fff;
	position: relative;
	z-index: 1;
}

.price {
	color: #067aff;
	font-weight: 800;
	padding: 5px;
	font-size: 14px;
	display: inline;
	position: absolute;
	right: 12px;
	bottom: 22%;
	width: max-content;
	background: #fff;
	padding: 2px 15px;
	border-radius: 10px;
	z-index: 9;
}

.acount-group span {
	border-bottom: 1px solid #ced4d9;
	display: block;
	margin-bottom: 5px;
	padding: 5px;
	/* background: #f5f5f5; */
}

.acount-group label {
	margin-top: 17px;
	display: block;
}

@media (max-width: 576px) {
	.img img {
		width: 80%;
	}
}

/*.grid-item { width: 270px; }*/
/*      .grid-item--width2 { width: 400px; }
*/

.profile-cover {
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	.profile-image {
		position: absolute;
		bottom: 0;
		left: 5%;
		transform: translateY(50%);
		display: flex;
		align-items: center;
		z-index: 2;

		img {
			width: 150px;
			height: 150px;
			background-color: #fff;
			border: 4px solid #fff;
			border-radius: 20%;
			-webkit-border-radius: 20%;
			-moz-border-radius: 20%;
			-ms-border-radius: 20%;
			-o-border-radius: 20%;
			box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
				rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
				rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
		}
		h1 {
			transform: translateY(-50%);
			margin: 0 10px;
			font-size: 24px;
			font-weight: 700;
			color: #fff;
		}
	}
}

.profile-cover::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6867121848739496) 0%,
		rgba(255, 255, 255, 0) 26%,
		rgba(255, 255, 255, 0) 62%,
		rgba(0, 0, 0, 1) 108%
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6867121848739496) 0%,
		rgba(255, 255, 255, 0) 26%,
		rgba(255, 255, 255, 0) 62%,
		rgba(0, 0, 0, 1) 108%
	);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6867121848739496) 0%,
		rgba(255, 255, 255, 0) 26%,
		rgba(255, 255, 255, 0) 62%,
		rgba(0, 0, 0, 1) 108%
	);
}

.search-client-courses {
	padding: 15px;
	div.row {
		padding: 15px;
	}
	.client-searchbar {
		padding-right: 0;
		input {
			display: block;
			width: 100%;
			height: 50px;
			padding: 0;
			color: black;
			line-height: 34px;
			font-weight: 700;
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
		}
		input::placeholder {
			color: #000;
		}
	}

	.client-search-button {
		padding: 0;
		width: 100%;
		height: 50px;
		display: grid;
		place-items: center;
		color: #ffffff;
		background: #e91e63;
		text-transform: uppercase;
		font-weight: 700;
		border-radius: 10px;
		cursor: pointer;
		margin: 5px 0;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		transition: all 0.3s ease 0s;
	}
	.client-search-button:hover {
		background: #007bff;
		color: #fff;
	}
}

@media (max-width: 576px) {
	.search-client-courses {
		.client-searchbar {
			padding-right: 15px;
		}
	}
}
@media (max-width: 374px) {
	.client-searchbar {
		input {
			font-size: 15px;
		}
	}
}

.description-col {
	padding-top: 5px;
	.description {
		display: contents;
	}
}

@media (max-width: 767px) {
	.client-profile-main {
		display: flex;
		flex-direction: column-reverse;
	}

	.search-client-courses {
		position: -webkit-sticky;
		position: sticky;
		bottom: 0;
		z-index: 10;
	}

	.description-col {
		padding-top: 80px;
		padding-bottom: 10px;

		.description-title {
			text-align: center;
		}

		.description {
			text-align: center;
			display: none;
		}
	}
}

.fa-magnifying-glass:before {
	content: "\f002";
	font-family: "fontAwesome";
}

.fa-arrow-down:before {
	content: "\f063";
	font-family: "fontAwesome";
}

.courses-list {
	padding: 0;
}

.subir {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: #007bff;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 20px;
	z-index: 9999;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.subir:hover {
	background-color: #0056b3;
}

.paid-banner-col {
	display: grid;
	place-items: center;
}

.paid-banner-butom {
	position: absolute;
	width: 100%;
	background-color: #067aff;
	color: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px 20px;
	bottom: 0;
	font-size: small;
	strong {
		padding-left: 5px;
	}
}

.paid-banner-butom:hover {
	opacity: 0.7;
}

.paid-courses-title {
	padding-top: 10px;
	color: #007bff;
}

.bx-wrapper .bx-pager {
    color: #007bff;
    padding-top: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #007bff;
}
.paid-course {
	padding: 0 5px 0;

	a {
		text-decoration: none;
		color: #323232;
		width: max-content;
		* {
			width: max-content;
			margin-bottom: 5px;
		}
		*:hover {
			color: #007bff;
		}
	}
	p {
		font-size: 14px;
		line-height: 18px;
		margin: 0;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
	}
	p.border-bottom {
		margin-top: 5px;
		border-bottom: 2px solid #7c7c7c;
	}
	a.label {
		font-size: small;
		margin-top: 10px;
		display: flex;
		align-items: center;
		gap: 5px;
		* {
			margin: 0;
		}
	}
	a.label:hover {
		color: #007bff;
	}
}

.load-more-button {
	text-align: center;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	max-width: 300px;
	display: block;
	box-sizing: border-box;
	font-size: 16px;
	padding: 13px 0;
	border-radius: 13px;
	background: #e91e63;
	cursor: pointer;
	margin: 8px auto;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.load-more-button:hover {
	background: #007bff;
	border-color: #b9c9da;
	color: #fff;
}

.button-primary {
	display: grid;
	place-items: center;
	text-align: center;
	font-weight: 700;
	color: #fff;
	max-width: 300px;
	box-sizing: border-box;
	padding: 10px 20px;
	margin: 8px 10px;
	border-radius: 13px;
	border: none;
	background: #e91e63;
	border: 2px solid #e91e63;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.button-primary:hover {
	color: #fff;
	text-decoration: none;
	background: #007bff;
	border: 2px solid #007bff;
}

.button-secondary {
	display: grid;
	place-items: center;
	text-align: center;
	font-weight: 700;
	color: #e91e63;
	max-width: 300px;
	box-sizing: border-box;
	padding: 10px 20px;
	margin: 8px 10px;
	border-radius: 13px;
	border: 2px solid #e91e63;
	background: none;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.button-secondary:hover {
	text-decoration: none;
	background: #e91e63;
	color: #fff;
}

.button-primary:hover,
.button-primary:focus,
.button-secondary:hover,
.button-secondary:focus {
	outline: none;
}

.button-primary:disabled,
.button-primary:disabled {
	background-color: #b1b1b1;
	border: 2px solid #b1b1b1;
	cursor: not-allowed;
}

.button-disabled {
	text-align: center;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	max-width: 300px;
	display: block;
	box-sizing: border-box;
	font-size: 13px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-radius: 13px;
	background-color: #b1b1b1;
	border: 2px solid #b1b1b1;
	margin-top: 20px;
	transition: all 0.3s ease 0s;
	margin: 8px 0;
}

.button-disabled:hover {
	background-color: #b1b1b1;
	border: 2px solid #b1b1b1;
	cursor: not-allowed;
}

.center {
	margin: 8px auto;
}
